<!DOCTYPE html>
<html class="ru">
<head>{% load static %}{% load contacts %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Technology Consulting Assurance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'tca/img/favicon.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&amp;subset=cyrillic-ext" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400i&amp;subset=cyrillic-ext" rel="stylesheet"> 

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'tca/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'tca/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'tca/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'tca/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'tca/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'tca/css/responsive.css' %}">

</head>
<body>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- header Nav Start -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                  <img src="{% static 'tca/img/logo.png' %}" alt="Logo">
                </a>
              </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a class="smooth" href="#intro">О компании</a></li>
                    <li><a class="smooth" href="#feature">Услуги</a></li>
                    <li><a class="smooth" href="#service">Принцип работы</a></li>
                    <li><a class="smooth" href="#contact-form">Контакты</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        </div>
      </div>
    </header>
        
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="block">
              <h1 class="animated fadeInUp text-uppercase">Technology <br>Consulting <br>Assurance</h1>
              <p class="animated fadeInUp">Доверьте свой бизнес профессионалам</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>О компании</h2>
                <p>Наша компания занимается управленческим консалтингом и&nbsp;сотрудничает с&nbsp;компаниями различных отраслей и&nbsp;масштаба.</p>
              </div>
              <p>Цель нашей работы&nbsp;&mdash; усовершенствовать бизнес-процессы и&nbsp;создать эффективную рабочую среду для клиентов.
              <br>Мы&nbsp;работаем по&nbsp;признанным международным методикам и&nbsp;стандартам, используя современные идеи и&nbsp;технологии.
              <br>Наша команда проводит различные функциональные экспертизы, но&nbsp;особенно хорошо нам удаются проекты в&nbsp;сфере управления эффективностью и&nbsp;инноваций.</p>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="{% static 'tca/img/wrapper-img.gif' %}" alt="Img" class="img-responsive">
            </div>
          </div><!-- .col-md-5 close -->
        </div>
      </div>
    </section>

    <section id="feature">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <h2>Услуги</h2>
            <p><strong>Финансовый аудит</strong><br> Финансовый аудит&nbsp;&mdash; эффективный способ контроля деятельности предприятия. Поможет оценить основные финансовые показатели и&nbsp;исправить ошибки.</p>
            <p><strong>Совершенствование систем контроля</strong><br> Внешние и&nbsp;внутренние риски влияют на&nbsp;производительность труда и&nbsp;безопасность. Мы&nbsp;поможем усовершенствовать системы контроля, чтобы обеспечить стабильную работу всей компании.</p>
            <p><strong>Финансовые расследования</strong><br> Финансовые расследования помогут сохранить экономическую безопасность компании. Мы&nbsp;готовы провести независимую финансовую экспертизу, чтобы защитить бизнес от&nbsp;злоупотребления должностными обязанностями и&nbsp;мошенничества.</p>
            <a href="#contact-form" class="btn btn-view-works smooth">Контакты</a>
          </div>
        </div>
      </div>
    </section>
        
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Принцип работы</h2>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-4">
            <div class="service-item">
              <i class="icon ion-coffee"></i>
              <h4>Профессионализм</h4>
              <p>В&nbsp;любой ситуации, независимо от&nbsp;уровня сложности, мы&nbsp;помним о&nbsp;своих задачах и&nbsp;обязанностях.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="service-item">
              <i class="ion-ribbon-b"></i>
              <h4>Меритократия</h4>
              <p>Нам действительно важно, насколько хорошо и&nbsp;качественно мы&nbsp;делаем свою работу.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="service-item">
              <i class="ion-arrow-swap"></i>
              <h4>Мультидисциплинарность</h4>
              <p>Мы&nbsp;понимаем, что для лучшего результата важно рассматривать проблему сразу с&nbsp;нескольких сторон.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>Когда мы можем помочь</h2>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h4>Нужны данные <br>для управления бизнесом</h4>
                <p>Мы&nbsp;оцифруем ваш бизнес, организуем планирование и&nbsp;учёт показателей, сформируем простую и&nbsp;понятную управленческую отчётность.</p>
              </div>
              <div class="col-sm-4">
                <h4>Пора оптимизировать <br>процессы</h4>
                <p>Разработаем или подберём программные продукты для вашей компании, протестируем и&nbsp;разработаем необходимую документацию.</p>
              </div>
              <div class="col-sm-4">
                <h4>Необходим финансовый <br>аудит</h4>
                <p>Проверим и&nbsp;проанализируем ваши показатели, выявим слабые и&nbsp;сильные стороны, предложим стратегии для увеличения прибыли.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact-form">
      <div class="container">
        <div class="section-title text-center">
            <h2>Контакты</h2>
            <p>Мы готовы к сотрудничеству.</p>
        </div>
        <div id="contact-box" class="row">
          <div class="col-md-6 col-sm-12">
            <div class="block">
              <h2>Связаться с нами</h2>
              <ul class="address-block">{% tca_contacts as tca %}
                <li>
                  <i class="fa fa-map-marker"></i>{{ tca.address }}
                </li>
                <li>
                  <i class="fa fa-phone"></i>Телефон: {{ tca.phone }}
                </li>
                <li>
                  <i class="fa fa-envelope"></i>Email: info@tcassurance.ru
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <img src="{% static 'tca/img/map.png' %}" alt="" class="img-responsive center-block">
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-manu">
              <ul>
                <li><a class="smooth" href="#intro">О компании</a></li>
                <li><a class="smooth" href="#feature">Услуги</a></li>
                <li><a class="smooth" href="#service">Принцип работы</a></li>
              </ul>
            </div>
            <p>{% now "Y" %} &copy; Technology Consulting Assurance</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Js -->
    <script src="{% static 'tca/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'tca/js/vendor/jquery-1.10.2.min.js' %}"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script> -->
    <script src="{% static 'tca/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tca/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'tca/js/plugins.js' %}"></script>
    <script src="{% static 'tca/js/min/waypoints.min.js' %}"></script>
    <script src="{% static 'tca/js/jquery.counterup.js' %}"></script>

    <script src="{% static 'tca/js/main.js' %}"></script>

    </body>
</html>
