<!DOCTYPE html>
<html lang="ru">
<head>{% load static %}{% load contacts %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Оценка и финансовый аудит</title>
    <link rel="icon" type="image/png" href="{% static 'audit/img/favicon.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static 'audit/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'audit/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'audit/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'audit/css/responsive.css' %}">

    <script type="text/javascript" src="{% static 'audit/js/modernizr.custom.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic" rel="stylesheet"> 

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130543486-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130543486-1');
    </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
    <div id="tf-home">
        <div class="overlay">
            <div id="sticky-anchor"></div>
            <nav id="tf-menu" class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand logo" href="#tf-home">Оценка-Аудит</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#tf-about">О компании</a></li>
                        <li><a href="#tf-service">Услуги</a></li>
                        <li><a href="#tf-work">Принцип работы</a></li>
                        <li><a href="#tf-contact">Контакты</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div class="container">
                <div class="content">
                    <h1>Оценка и финансовый аудит</h1>
                    <h3>Правильные решения для развития вашего бизнеса</h3>
                    <br>
                    <a href="#tf-contact" class="btn btn-primary my-btn">Контакты</a>
                    <a href="#tf-about" class="btn btn-primary my-btn2">О компании</a>
                </div>
            </div>
        </div>
    </div>

    <div id="tf-about">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <h3>О компании</h3>
                        <br>
                        <p>Наша компания проводит оценку и&nbsp;аудит. <br>Главное направление нашей работы&nbsp;&mdash; независимая оценка. Специалисты компании помогут оценить активы и&nbsp;финансовые показатели предприятия и&nbsp;назначить справедливую сумму сделки.</p>
                        <p>Также мы&nbsp;оцениваем риски, выявляем слабые и&nbsp;сильные стороны бизнеса, предлагаем простые и&nbsp;действенные стратегии для увеличения прибыли.</p>
                        <p>В&nbsp;нашей компании работают опытные аудиторы с&nbsp;отличной профессиональной подготовкой и&nbsp;полным пакетом разрешительных документов по&nbsp;профилю предоставляемых услуг. Все работы проводятся в&nbsp;строгом соответствии с&nbsp;нормами закона и&nbsp;в&nbsp;кратчайшие сроки.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tf-advantage">
        <div class="container">

            <div class="col-md-4">

                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-line-chart fa-2x font-color"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">10 лет <br>успешной работы</h4>
                    <p>Оказываем услуги консультативного характера по&nbsp;оценке имущества, бизнеса, нематериальных активов с&nbsp;2007&nbsp;года.</p>
                  </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-gears fa-2x font-color"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Российские и&nbsp;зарубежные консалтинговые практики</h4>
                    <p>Мы&nbsp;внимательно следим за&nbsp;последними тенденциями в&nbsp;области консалтинговых услуг и&nbsp;успешно применяем современные зарубежные и&nbsp;российские практики в&nbsp;своей работе.</p>
                  </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-building-o fa-2x font-color"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Членство в&nbsp;профессиональных организациях</h4>
                    <p>С&nbsp;2009 года являемся членами саморегулируемой аудиторской &laquo;Ассоциации &laquo;Содружество&raquo;.</p>
                  </div>
                </div>

            </div>
            
        </div>
    </div>    

    <div id="tf-service">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Услуги</h3>
                        <br>
                        <ul class="list-inline list-service">
                            <li>
                                <h4>Оценка бизнеса</h4>
                                <p>Проводим оценку рыночной стоимости активов предприятий и&nbsp;организаций, соблюдая федеральные законы, международные и&nbsp;российские стандарты оценочной деятельности.</p>
                            </li>
                            <li>
                                <h4>Оценка объектов недвижимого/движимого имущества</h4>
                                <p>Наши специалисты дадут оценку объектам имущества для дальнейшей купли-продажи, страхования или получения кредитных средств.</p>
                            </li>
                            <li>
                                <h4>Оценка машин и оборудования</h4>
                                <p>Комплексная оценка машин и&nbsp;оборудования позволит установить реальную стоимость активов компании.</p>
                            </li>
                            <li>
                                <h4>Оценка нематериальных активов</h4>
                                <p>Мы&nbsp;поможем оценить стоимость интеллектуальной собственности и&nbsp;других видов нематериальных активов для будущих сделок.</p>
                            </li>
                            <li>
                                <h4>Оценка инвестиционных проектов</h4>
                                <p>Оценка инвестиционных проектов поможет оценить риски и&nbsp;подскажет направление, которое принесёт компании максимальную выгоду.</p>
                            </li>
                            <li>
                                <h4>Оценка бизнес-планов</h4>
                                <p>Детальный отчёт, составленный нашими сотрудниками, позволит оценить эффективность и&nbsp;масштабируемость выбранной бизнес-модели.</p>
                            </li>
                            <li>
                                <h4>Финансовый и инвестиционный аудит</h4>
                                <p>Мы&nbsp;проводим аудит финансовых и&nbsp;инвестиционных проектов для снижения налоговых рисков, оптимизации бизнес-процессов и&nbsp;привлечения инвесторов.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tf-work">
        <div class="container">
            <div class="section-title">
                <h3>Принцип работы</h3>
                <hr>
            </div>

            <div class="space"></div>

            <div class="col-md-4">
                <p>
                    <i class="fa fa-users fa-3x font-color"></i>
                </p>
                <h4 class="h4">Профессиональный подход</h4>
                <p>Все наши специалисты имеют за&nbsp;плечами профильное образование, богатый опыт и&nbsp;только положительные рекомендации.</p>
            </div>
            <div class="col-md-4">
                <p>
                    <i class="fa fa-calendar-o fa-3x font-color"></i>
                </p>
                <h4 class="h4">Прозрачность</h4>
                <p>Мы&nbsp;тщательно следим за&nbsp;тем, как выполняется проект, и&nbsp;держим вас в&nbsp;курсе событий.</p>
            </div>
            <div class="col-md-4">
                <p>
                    <i class="fa fa-rocket fa-3x font-color"></i>
                </p>
                <h4 class="h4">Скорость и качество</h4>
                <p>Мы&nbsp;оперативно обрабатываем заявки и&nbsp;приступаем к&nbsp;работе. Именно поэтому мы&nbsp;предлагаем качественные услуги и&nbsp;всегда укладываемся в&nbsp;рамки дедлайна.</p>
            </div>

        </div>
    </div>

    <div id="tf-contact">
        <div class="container text-center">
            <div class="section-title">
                <h3>Контакты</h3>
                <p>Специалисты компании помогут быстро разобраться в проблеме и принять правильное решение.</p>
                <hr>
            </div>

            <div class="space"></div>{% audit_contacts as audit %}

                <address>
                  {% if audit.address %}<p>{{ audit.address|safe }}</p>{% endif %}
                  {% if audit.email %}<p>Email: <a id="email" class="blue" href=""></a></p>{% endif %}
                  {% if audit.postal_address %}<p>Тел.: <a id="tel" class="blue" href=""></a></p>{% endif %}
                  {% if audit.postal_address %}<p>Почтовый адрес: {{ audit.postal_address|safe }}</p>{% endif %}
                </address>
        </div>
    </div>

    <nav id="tf-footer">
        <div class="container">
             <div class="pull-right">
                <p>{% now "Y" %} © ООО «Оценка-Аудит»</p>
            </div>
            <!--<div class="pull-right"> -->
                <!--<ul class="social-media list-inline">-->
                    <!--<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
                    <!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </nav>
   

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'audit/js/jquery.1.11.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'audit/js/bootstrap.js' %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static 'audit/js/main.js' %}"></script>
    <script>
    {% if audit.phone %}
    var s = [{% for char in audit.phone %}'{{ char }}',{% endfor %}].join('');
    var el = document.getElementById('tel')
    el.setAttribute('href', 'tel:'+s);
    el.innerText = s;
    {% endif %}
    {% if audit.email %}
    var s = [{% for char in audit.email %}'{{ char }}',{% endfor %}].join('');
    var el = document.getElementById('email')
    el.setAttribute('href', 'mailto:'+s);
    el.innerText = s;
    {% endif %}
    </script>
  </body>
</html>
